*{
    padding: 0;
    margin: 0;
}


/* shared styles */

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.color-code1{
    color: #3A3A3A;
}

.btn{
    color: white;
    background-color: #E02C6D;
    margin-top: 16px;
    padding: 10px 24px;
    border: none;
    border-radius: 20px;
}


/* navbar start */
nav{
     max-width: 1440px;
     display: flex;
     justify-content: space-between;
     margin: 80px auto;
}

nav .logo{
    i{
        display: none;
    }
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    padding-right: 34px;
    color: #3A3A3A;
}

@media screen and (max-width:576px)
{
    nav{
        margin: 20px auto;
        flex-direction: column;
    }
     nav ul{
        display: none;
    }
    .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    nav .logo i{
        display: block;
    }
}


/* banner start */
.banner{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h1{
    font-size: 3.25rem;
    max-width: 582px;
}

.banner p{
    max-width: 505px;
}
.banner-img{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
}
.banner-img img{
    padding-top: 40px;
}

@media screen and (max-width:576px)
{
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner img{
        margin-bottom: 40px;
    }
}

/* companies start */

.companies{
    max-width: 1240px;
    margin:70px auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:576px)
{
    .companies{
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
}


/* products start */

.products{
    margin: 100px auto;
    max-width: 1240px;
}

.products h1:first-child{
    text-align: center;
    margin-bottom: 50px;
}


.products .parent{
    max-width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);  
    gap: 30px; 
    justify-items: center;
}

.products .parent .child{
    width: 300px;
    padding: 20px 20px 50px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: white;
    text-align: left;
}

.products .parent .child img:first-child{
   width: 100%;
   object-fit: cover;
}

.see-more{
    text-align: right;
}

@media screen and (max-width:576px)
{
    .products .parent{
        grid-template-columns: repeat(1,1fr) ;
    }
}

/* bottom start */
.bottom{
    max-width: 1440px;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom img{
    width: 100%;
}

.bottom-txt h1{
    max-width: 610px;
    font-size: 38px;
    font-weight: 700;
    color: #0A0826;
}

.bottom-txt p{
    max-width: 500px;
    font-size: 16px;
    font-weight: 700;
    color: #6C6C6C;
}

@media screen and (max-width:576px)
{
    .bottom{
        flex-direction: column;
        text-align: center;
    }
}
/* footer start */
footer{
    max-width: 100%;
    text-align: center;
    background-color: #0A0826;
    color: white;
    padding: 130px 415px;
}

.footer-logos i{
    padding: 10px;
}

@media screen and (max-width:576px){
    footer{
        padding:0;
    }
}